html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
}

#app {
  height: 100%;
  overflow: hidden;   // textareaのheightを100%にしてもスクロールバーが出るため
}

textarea {
  // border: 0;
  box-sizing: border-box;
  // outline: none;
  overflow: scroll;
  resize: none;
  height: 100%;
  width: 100%;
  word-wrap: normal;  // 折り返しの設定（設定できるようにする）
}
